﻿





/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */
 
 body {  
background-color: #FFFFFF;}
htlm{
color: #000;
}
 .tm-block-top-a.tm-block-primary {
  border-image: none;
}
.tm-block-bottom-b.tm-block-primary-dark {
  border-image: none;
}

.tm-block-primary-dark {
background-color: #f89e54;
}

.tm-primary .uk-form input:not([type]), .tm-primary .uk-form input[type="text"], .tm-primary .uk-form input[type="password"], .tm-primary .uk-form input[type="email"] {
border: none;
background: #5f6060;
color: rgba(255, 255, 255, 0.85);
}
.tm-primary .uk-form input:not([type]):focus,
.tm-primary .uk-form input[type="text"]:focus,
.tm-primary .uk-form input[type="password"]:focus,
.tm-primary .uk-form input[type="email"]:focus {
  background: #434646;
  color: #ffffff;
}
 
 h1, h2, h3, h4, h5, h6 {
margin: 0 0 20px 0;
font-family: "smoolthanbold", Helvetica, Arial, sans-serif;
font-weight: 300;
color: #f89e54;
text-transform: uppercase;
}
.tm-fullscreen-container .tm-fullscreen .uk-panel h1 {
color: #f89e54;
}

/* .uk-grid .uk-panel p {
text-align: center !important;
} */



.uk-panel ul li {
text-align: left !important;
}
 
 .tm-block-primary {
background-color: #ffffff;
}
.tm-block-top-a.tm-block-primary + [class*='tm-block-'], .tm-block-bottom-b.tm-block-primary-dark + [class*='tm-block-'] {
position: relative;
margin-top: -15px;
z-index: 2;
background-color: #3c4349;
}

h3, .uk-h3 {
color: #f1f6fa;
padding-top: 15px;
}

.tm-block-top-a.tm-block-primary + [class*='tm-block-'], .tm-block-bottom-b.tm-block-primary-dark + [class*='tm-block-'] p {
color:#ffffff}
 
 .tm-nav-logo {
    height: 60px;
    left: 0;
    text-align: center;
    width: 90px;
}

.tm-toolbar {
    background-color: #ffffff;
	}
	.tm-navbar-fixed.tm-navbar-animated .tm-navbar-small {
    background: none repeat scroll 0 0 #f89e54;
    height: 45px;
    padding: 5px 15px;
}
	
	.tm-navbar {
    background: none repeat scroll 0 0 #f89e54;
    height: 75px;
	padding: 15px 15px 4px;
}
	.uk-navbar-nav > li.uk-active > a {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.uk-navbar-nav > li > a {
    color: #ffffff;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.tm-toolbar {
    color: #ffffff;
    text-align: left;
	/*height:80px;*/
	height: 160px;
}	
.tm-navbar-fixed .tm-toolbar + .tm-navbar {
    /*top: 74px;*/ top: 117px;}

.admin-bar .tm-toolbar + .tm-navbar {
    top: 107px;
}

@media only screen and (max-device-width: 480px) {
  .tm-navbar-fixed .tm-toolbar + .tm-navbar {
    top: 0px;}
	.tm-logo-small {
	display:none
  }
}


html.uk-notouch body.home.page.page-id-30.page-template-default.logged-in.admin-bar.tm-isblog.wp-front_page.wp-page.wp-page-30.tm-navbar-fixed.tm-navbar-animated.siteorigin-panels.customize-support div.tm-toolbar.uk-clearfix div.uk-container.uk-container-center div.uk-panel.uk-panel-blank.widget_nav_menu ul.uk-subnav.uk-subnav-line {
	float:right; clear:none}
	html.uk-notouch body.home.page.page-id-30.page-template-default.logged-in.admin-bar.tm-isblog.wp-front_page.wp-page.wp-page-30.tm-navbar-fixed.tm-navbar-animated.siteorigin-panels.customize-support div.tm-toolbar.uk-clearfix div.uk-container.uk-container-center div.uk-panel.uk-panel-blank.widget_text {
		float:right; width:100%}
		
		
.uk-navbar-nav > li.uk-parent > a:after { top:11px}

.uk-panel > :not(.uk-panel-title):last-child {
margin-bottom: -30px;}
.uk-subnav {
padding: 0;
list-style: none;
font-size: 0.001px;
float: right;
clear: none;
}

body > div.tm-fullscreen-container > div > div > div > div > p {
text-align:center}


.tm-fullscreen-container .tm-fullscreen .uk-panel p {
color: #000000;
}

.uk-grid .uk-panel p {
color: #000000;
text-align:center;
}

.uk-grid .uk-panel .aciswelcome {
color:#aaaaaa; text-align:center; font-size:1.2em; line-height:1.2em}

.tm-primary h2 {
color: #000000;
}

/* Modifier: `uk-icon-button`
 ========================================================================== */
.uk-icon-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
  line-height: 40px;
  color: #333335;
  font-size: 30px;
  text-align: center;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-icon-button:hover,
.uk-icon-button:focus {
  background-color: #ffffff;
  color: #5f6060;
  text-decoration: none;
  /* 2 */
  outline: none;
}
/* Active */
.uk-icon-button:active {
  background-color: #ffffff;
  color: #5f6060;
}
.tm-block-footer { background-color: none #ffffff; }
div.tm-block-footer { background-color: none #ffffff; }  

#featuresx.uk-grid .uk-panel p {
text-align: left !important;
}
#featuresx > p {
text-align: left !important;
}
.tm-navbar .tm-navbar-center {
position: relative;
display: table;
height: 100%;
width: 100%;
text-align: center;
left: -40px;
}
.searchandfilter ul {
display: block;
margin-top: 0;
margin-bottom: 0;
-webkit-padding-start: 0px;
margin-left:-60px
}

body > div.tm-wrapper > div.tm-block-top-main.tm-block-large-padding > div > div > aside > div > form {
margin-left:-60px}

.uk-panel > :not(.uk-panel-title):last-child {
margin-bottom: -30px;
margin-left:-60px;
}
.searchandfilter ul>li>ul:not(.children) {
margin-left: -60px;}

.page-id-120 .tm-fullscreen-container {display: none;}



.uk-nav-navbar > li > a:hover,
.uk-nav-navbar > li > a:focus {
  background: #f89e54;
  color: #ffffff;
  /* 2 */
  outline: none;
}
.hallcontainer {width:40%; margin-right:50px; float:left; clear:none; border-color:#ccc; border-style:solid; border-width:thin; border-spacing:inherit; -webkit-box-shadow: 3px 3px 5px 1px rgba(166,168,171,1);
-moz-box-shadow: 3px 3px 5px 1px rgba(166,168,171,1);
box-shadow: 3px 3px 5px 1px rgba(166,168,171,1);}
.hallthumb {width:100%; height:auto}
.halltitlebox {height:25px; background-color:#f89e54; color:#fff; height:25px;}
.hallname {width:70%; float:left; clear:none; text-align:left; padding-left:10px; padding-top:2px;}
.hallname a {color:#fff}
.hallname a:hover {color:#fff; text-decoration:none}
.hallpostcode {width:20%; float:right; clear:none; text-align:right; padding-right:10px; padding-top:2px; height:25px;}
.halldesc {width:85%; padding-top:10px; padding-bottom:3px; padding-left:20px; padding-right:5px; min-height:240px}
.hallcompare {height:25px; background-color:#f89e54; color:#fff; padding-bottom:4px}
.hallcomparebutton {width:55%; float:left; clear:none; text-align:left; padding-left:20px; height:25px; background-color:#f89e54; color:#fff; padding-top:4px}
.hallcomparebutton a {color:#fff;}
.hallcomparebutton a:hover {color:#fff; text-decoration:none}
.hallfrom {width:35%; float:right; clear:none; text-align:right; padding-right:5px; background-color:#000; height:25px;padding-top:4px}
h1.uk-article-title {display: none;}

.uk-icon-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: #fff;
  line-height: 50px;
  color: #cad2da;
  font-size: 25px;
  text-align: center;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-icon-button:hover,
.uk-icon-button:focus {
  background-color: #ccc;
  color: #ffffff;
  text-decoration: none;
  /* 2 */
  outline: none;
}
/* Active */
.uk-icon-button:active {
  background-color: #ccc;
  color: #fff;
}
.uk-grid .postshowcase {margin-top:-100px}
.halltitle {font-size:20px; float:right; clear:none; margin-top:-50px; }


@media (min-width: 768px) {
    .tm-block-large-padding { background-color: #fff; }
}
.tm-block-bottom-d.tm-block-large-padding { padding: 35px 0 40px!important; }
.tm-block-bottom-d.tm-block-dark { background-color: #f89e54!important; }


ul.uk-navbar-nav:nth-child(1) > li:nth-child(2) {display:none}
ul.uk-navbar-nav:nth-child(1) > li:nth-child(3) {display:none}
ul.uk-navbar-nav:nth-child(1) > li:nth-child(4) {display:none}
ul.uk-navbar-nav:nth-child(1) > li:nth-child(5) {display:none}



/* Font awesome */
/* Process rating */
#PageContent .processRating .ratingfeedback {
    margin-top: 10px;
}

#PageContent .processRating i {
    color: #6ec6d9;
    margin-top: 20px;
}


