﻿
select.KxError,
input.KxError {
    border: 2px red solid;
}


.Login,
.user-summary  { background: #fff; border-color: #ccc; border-style: solid; border-width: thin; border-spacing: inherit; -webkit-box-shadow: 3px 3px 5px 1px rgba(166,168,171,1); -moz-box-shadow: 3px 3px 5px 1px rgba(166,168,171,1); box-shadow: 3px 3px 5px 1px rgba(166,168,171,1); }
.shadow { -webkit-box-shadow: 3px 3px 5px 1px rgba(166,168,171,1); -moz-box-shadow: 3px 3px 5px 1px rgba(166,168,171,1); box-shadow: 3px 3px 5px 1px rgba(166,168,171,1); }
#PageContent .Login legend.title,
.bottom-section { width: 99%; display: inline-block; background-color: #f89e54; color: #fff; height: 36px; padding-top: 10px; margin-bottom: 30px; }
.bottom-section { margin: 10px 0 0 0; width: 100%; padding: 0; }
.bottom-section.logout { margin: 10px 0 -15px 0; }
.UserInput .Login span { margin-left: 0; }
#Register2Section { margin-top: 20px; }
#PageContent .Login legend span,
.form-panel span { font-size: 1.5em; margin-left: 15px; }
.button-reset { border:none; cursor:pointer; padding: .625rem 1.25rem .6875rem; font-size: .9rem; font-family: 'smoolthanmedium'; }
.button { background:#3c4349; padding: 10px 22px; color: #fff; }
.button:hover { background:#000; }
.bottom-section a { color: #fff; margin: 7px 0 0 20px;  display: inline-block;}
.navigation .bottom-section { height: auto;}
.uk-table-condensed td { color: #000; }
label.form-label { display: block; clear: both; color: #a7a9ac; }
.form-panel .uk-grid:not(.uk-grid-preserve) + .uk-grid { margin-top: 20px; }
.brand-link-color label { color: #f89e54; font-size: 1rem; }
.UserInput input[type=text],
.UserInput input[type=password],
textarea { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; width: 100%; max-width: 100%; padding: 8px 4px; border: 2px solid #ccc; background: #fff; color: #a7a9ac; border-radius: 3px; font-weight: inherit; margin-bottom: 20px; }
.UserInput .Login input[type=text],
.UserInput .Login input[type=password] { margin-bottom: 0; font-weight: normal; color: #a7a9ac; }
.banner .uk-text-large { font-size: 4.5em; padding-top: 25px; }
.heading { text-align: left; color: #f89e54; padding-right: 30px; font-size: 3em; line-height: 1em; }
.title { color:#fff;}
#PageContent p,
.user-summary p,
.RoomOptionInfo p,
.room-list,
.content p,
.RoomOptionInfo label { color: #000; font-size: 1.2rem; }
.grey-bg{ background: #eee; padding-top: 15px; }
.grey-bg .title span { color: #f89e54; margin: 10px 0; display: inline-block; }
select { width: 100%; padding: 5px; margin-bottom: 20px; height: 35px; border: 2px solid #ccc; border-radius: 3px; }
.padding { padding: 10px 20px; }
label { color: #000; }
.minus-margin {margin-top: -10px }
.top-margin-form, 
#ResultsHeader { margin-top: 21px; }
fieldset { margin-bottom: -10px!important; }
hr,
.uk-grid-divider:empty { border-top: 2px solid transparent; }
.RoomInfo dt { font-weight: bold; width: 40%; float: left; }
.RoomInfo dd { margin-bottom: 10px; width: 60%; float: left; }
.RoomInfo dd label { color: #000; }
.RoomAdvert{ padding-top: 20px; padding-bottom: 20px; padding-right: 20px; }
.ui-selectmenu { border: 1px solid #ccc; left: 0; background: rgba(255, 255, 255, 0.6); }
.ui-selectmenu-icon {   position: absolute; right: 11px; top: 63%; width: 0; height: 0;  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000; }
a { word-break: break-all; }
.remove-pref img { margin-right: 10px; }
.container-padding { padding: 0 20px; }

.user-summary ul.student-id { background: #f89e54; height: 34px; margin-top: -15px; }
.user-summary ul.student-id li { padding-top: 3px; color: #fff; font-weight: bold; }
.app-summary ol li,
.app-summary ol,
.basket-wrap ol li,
.basket-wrap ol,
.basket-wrap ul li,
.basket-wrap ul { list-style: none!important; padding-left: 0; margin-bottom: 10px; color: #000; font-size: 1.2rem; }
.basket-wrap hr,
.RoomAdvert hr { border-top: 1px solid #000; }
.basket-wrap span { color: #000; }
.Pref { border: 2px solid #f89e54; }

ol.contact-info li span,
ol.personal-info li span { width: 40%; display: inline-block; font-weight: normal; }
ol.contact-info li,
ol.personal-info li { font-weight: bold; }
ol#basket li { font-weight: bold; }
#Results { width: 100%; }
.user-summary ul li span:first-child,
ul.Clearfix li span:first-child { width: 45%!important; display: inline-block; vertical-align: top; }
.user-summary ul li span:last-child,
ul.Clearfix li span:last-child { width: 55%; display: inline-block; }
.user-summary ul li { list-style: none; color: #000; margin-left: -12px; font-size: 1.2rem; }
.user-summary ul.Clearfix li span { padding-left: 0; clear: both; display: block; width: 100%; }
.user-summary ul.Clearfix li span:last-child { margin-bottom: 15px; padding-left: 0!important; clear: both; display: block; width: 100%; }
.user-summary ul li span { padding-left: 0!important; clear: both; display: block; width: 100%!important; }
.app-summary-back-btn{ margin-top: -36px; }

.Accordion .title { background:#f89e54; cursor:pointer; line-height: 2; display: block; margin-bottom:0; margin-top:0; padding-left: 1em;}
.Accordion h3 { padding-top: 5px; }
.Accordion h3 span { float: right; margin: 11px 20px 0 0; width: 15px; height: 18px; }
.Accordion h3 span.ui-icon.ui-icon-triangle-1-s { background: url(../images/arr-up.png); }
.Accordion h3 span.ui-icon.ui-icon-radio-on { background: url(../images/arr-down.png); }
.Accordion .Disabled { cursor:default; opacity:.5; }
.ui-accordion-content { background:#fff; padding-left:1.5em; padding-right:1.5em; padding-bottom: 10px; padding-top: 10px; font-size: 1.2em; color: #000; }
.Accordion .button { background:#414042; color:#fff; margin-top: 10px; padding: 1rem 2rem; }
.Accordion .button:hover { background-color: #5D5D5D; }
.accordion-action { margin-bottom:1em; }
.accordion-action p { margin:0; }
.user-summary { }

.form legend,
.sub-heading { color: #f89e54; font-family: "smoolthanbold", Helvetica, Arial, sans-serif; font-size:1.5em; margin-top: 20px; margin-left: 0; text-indent: 0; }

[disabled] { opacity: 0.9; }
.availableRooms { border-top:2px #f89e54 solid; clear:both; padding-top: 2em; margin-top: 20px; color: #000; }
.noRooms,
.adverttext p { clear:both; margin-top: 20px; color: #000; font-size: 1.2rem; }
.rooms { padding:1em 0; }
.list-headings { font-size: 1.2em; font-weight: bold; margin-bottom:.5em; padding-top:.5em; }
.room-item { background:#EEE; line-height:3.5; margin-bottom:.5em; margin-top:.5em; padding: 0 20px; }
.gender { margin-left:1em; }
.RoomSelect hr { margin-top:.4em; }

.progress-bar { margin:0 0 5em!important; display: block; clear: both; background-color: transparent; box-shadow: none;}
.progress-inner { color:#f89e54; border:4px solid #f89e54; font-size:1.5em; font-weight:bold; padding: 7px 40px; text-align:center; }
.current .progress-inner { background:#f89e54; color: #000; }
    

.tm-fullscreen-hub { background: url("../images/bannerHFS.jpg") no-repeat scroll 50% 50% / cover #2d3135; }

#Loading { position: absolute; top: 45px; left: auto; background: url("../images/loading.gif") no-repeat scroll center center rgb(255, 255, 255); z-index: 5000; }

.roompanel { margin-bottom: 80px; clear: both; }
.room-info div:first-child { margin-left: 0; }
.room-info div { float: left; margin-left: 10px; }

.kinetic-wrapper { margin-bottom:1.25rem; }
.form-panel,
.content-wrapper { border:none; }
.form { border:none; margin-bottom:0; }/*margin on reset password*/

.primary { background-color:#FCD116; }
.form-label { font-weight:bold; }

.user-summary { margin-bottom:1em; padding:1em 0; }
.user-summary ul li:first-child { line-height: 1.7; }
.user-summary ul li span + span { font-weight:bold; padding-left:1em; word-wrap: break-word; }
.user-summary p { margin-left:1em; margin-right:1em; }

ol.LabelList { margin: 0 0 20px 0; }
ol.LabelList li, 
ol.links li,
.content-wrapper ol li { font-weight: bold; margin-left: 0; }
.content-wrapper ol li span { font-weight: normal;  display: inline-block; min-width: 30%; }
ol.LabelList li span { min-width: inherit; }
ol.LabelList > li span:first-child { min-width: 35%; }
ol.links,
.content-wrapper ol,
.content-wrapper ol li { margin-left: 0; }
ol.links a { color: #f89e54; }
.your-offer { min-height: 436px; }
.content-spacer { margin: 20px 0; }
table.generic th{ background:#f89e54; color:#fff; }
table tr:last-child td.Amount { font-weight: bold; }

fieldset.Personal table,
fieldset.Personal table tr { background: transparent; border: none; }

.alert { background-color:#f04124; border:1px solid #de2d0f; color: #FFFFFF; font-size: .8rem; padding: 1em; margin-bottom: 1em; width: 100%; }
.alert br { display:none; }
.alert ul { font-size: 1em; margin:.5em 0 0 2em; }
.alert ul li { list-style:disc; }

.messages-container { height: 60px; padding: 15px;clear: both; }
.messages-container h3 { margin-bottom: 8px; }
.messages-container p { float: left; margin-right: 10px; }
.student-message, .global-message { position: relative; padding: 20px; margin: 1em 0 3em; border: 5px solid #5A8F3B; color: #333; background: #fff; /* css3 */ -webkit-border-radius: 10px;-moz-border-radius: 10px; border-radius: 10px; box-shadow: 5px 0 10px #cecece;}
.student-message:before, .global-message:before { content: ""; position: absolute; bottom: -20px; /* value = - border-top-width - border-bottom-width */ left: 40px; /* controls horizontal position */border-width: 20px 20px 0; border-style: solid; border-color: #5A8F3B transparent; /* reduce the damage in FF3.0 */ display: block; width: 0; }

/*jQuery DatePicker*/ 
#ui-datepicker-div { border-radius:0; font-size:1em; margin-top:.5em; box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
.ui-datepicker .ui-widget-content, .ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-header .ui-state-hover {  }
.ui-datepicker .ui-widget-header .ui-state-hover .ui-icon, .ui-datepicker .ui-widget-header .ui-icon { background-image:url(../images/ui-icons_ffffff_256x240.png); }
.ui-datepicker .ui-state-default .ui-icon { float:right; }
.ui-datepicker .ui-state-default, .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default { border:1px solid #3e4d54; color:#555; }
.ui-datepicker .ui-state-highlight, .ui-widget-content .ui-state-highlight { background-color:#003f77; color:#b4b453; }
body #ui-datepicker-div .ui-widget-header { border-radius:0; border:1px solid #f89e54; background:#f89e54; color:#000; padding: 10px 0; }
.ui-datepicker td a.ui-state-active { border:none; padding:2px 5px 2px 2px; }
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default { border:none; }
table.ui-datepicker-calendar thead tr { background: #fff; }
table.ui-datepicker-calendar thead tr th { padding: 10px; }
table.ui-datepicker-calendar { margin-bottom: 0; border-spacing: 0; }
table.ui-datepicker-calendar tr { background: #efefef; }
table.ui-datepicker-calendar tbody tr td { text-align: center; padding: 10px 13px; }
table.ui-datepicker-calendar tbody tr td:hover { background:#f89e54; cursor: pointer; }
table.ui-datepicker-calendar tbody tr td:hover a { color:#fff; }
#ui-datepicker-div .ui-datepicker-title {   font-size: 20px; font-weight: bold; text-align: center; color: #fff; }
#ui-datepicker-div .ui-widget-header a.ui-datepicker-prev,
#ui-datepicker-div .ui-widget-header a.ui-datepicker-next { color: #fff; position: absolute; top: 13px; right: 10px; width: 20px; height: 13px; background-image: url(../images/ui-icons_ffffff_256x240.png); background-position: -30px 0; text-indent: -99999px; }
#ui-datepicker-div .ui-widget-header a.ui-datepicker-prev { position: absolute; left: 10px; background-position: -94px 0; }
#ui-datepicker-div .ui-widget-header a.ui-datepicker-prev .ui-state-hover,
#ui-datepicker-div .ui-widget-header a.ui-datepicker-next .ui-state-hover { background: transparent; }
.ui-datepicker .ui-datepicker-header .ui-state-hover { background:transparent; border-radius: 0; cursor:pointer; }
table.ui-datepicker-calendar td.ui-datepicker-current-day { background: #f89e54; }
.ui-widget-content .ui-state-active { color:#fff; background: transparent; }
.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-hover, 
.ui-datepicker .ui-state-active, 
.ui-widget-content .ui-state-active { border-color:#f89e54; color:#fff!important; width: 38px; height: 36px;  }
.ui-datepicker-calendar .ui-state-disabled { background: #f8f8f8; color: #bebebe; }
.ui-datepicker-calendar .ui-state-disabled:hover { background: #f8f8f8; cursor: default; }

.UserInput.accepted span { color: #000; }
.align-form{ margin-top: 63px; }
.roomadvert { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 2px solid #f89e54; }
div.content div#PageContent.RoomOptions div#PriceSlider { display:inline-block; margin-left: 20px; margin-top: 20px; }
div.content div#PageContent.RoomOptions div#slider-range { width:100%; }
div.content div#PageContent.RoomOptions div#slider-range { border:#a5a5a5 1px solid; background:#F3F3F3; height:20px; margin:auto; position:relative;  }
div.content div#PageContent.RoomOptions div#slider-range a { background:url(../images/sprite.png) -8px -166px no-repeat; border:none; bottom:16px; height:17px; outline:none; position:absolute; text-decoration:none; width:8px; z-index:9; }
div.content div#PageContent.RoomOptions div#slider-range div + a { background-position:left -166px; margin-left: -8px; }
div.content div#PageContent.RoomOptions div#slider-range a span.HandleRightAmount,
div.content div#PageContent.RoomOptions div#slider-range a span.HandleLeftAmount { color:#000; font-size:0.7em; height:10px; width: 30px; position:absolute; top:-5px; }
div.content div#PageContent.RoomOptions div#slider-range a span.HandleLeftAmount { left:10px; }
div.content div#PageContent.RoomOptions div#slider-range a span.HandleRightAmount { right:10px; text-align:right; }
div.content div#PageContent.RoomOptions div#slider-range div.ui-slider-range { border:1px solid #f89e54; background:#f89e54; display:block; height:14px; margin-left:0; position:absolute; top:2px; z-index:1; } 
div.content div#PageContent.RoomOptions div#SliderRangeStops { margin-top:3px; width:190px; }
div.content div#PageContent.RoomOptions div#SliderRangeStops span { background:url(../images/SliderRangeStop.png) center top no-repeat; display:inline-block; float:left; font-size:0.6em; font-weight:bold; height:20px; padding-top:6px; text-align:center;  width:20%; }
div.content div#PageContent.RoomOptions div#SliderRangeStops span:first-child { background:url(../images/SliderRangeStop.png) left top no-repeat; text-align:left; }
div.content div#PageContent.RoomOptions div#SliderRangeStops span:last-child { background:url(../images/SliderRangeStop.png) right top no-repeat; text-align:right; }
.bottom-margin{ margin-bottom: 40px!important; }
.hide-agreement{ display: none; }
.dropdown span { color: #000; font-size: 12px; float: right; cursor: pointer; }

#PageContent .extra-information p  { margin-top: 10px; color: #000000; }

.navigation [class*='uk-align-'] {
	margin-bottom: 0;
}

@media only screen and (max-width: 1025px) {
    .user-summary ul li span:first-child,
    ul.Clearfix li span:first-child { width: 20%;  }
    .user-summary ul li span:last-child,
    ul.Clearfix li span:last-child { width: 80%;  }
    .uk-panel > :not(.uk-panel-title):last-child { margin-left:0; }
}


@media only screen and (max-width: 880px) {
   div.content div#PageContent.RoomOptions div#PriceSlider { margin-left: 0; }
}

@media only screen and (max-width: 992px) and (min-width: 641px) {
    .button.medium-4 { width: 60%; }
    .button.medium-3 { width: 40%; }
    .navigation .button.medium-3 { width: 100%; }
}

@media only screen and (max-width: 641px) {
    .Accordion .title { padding-left: 1.5em; font-size: 1em; }
    .user-summary ul li span:first-child,
    ul.Clearfix li span:first-child { width: 30%;  }
    .user-summary ul li span:last-child,
    ul.Clearfix li span:last-child { width: 70%;  }
    .dropdown span { display: block; float: left; width: 100%; }
    .progress-bar .progress-step.current { display: block!important; }
    
    .tm-social-icons { width: 113px; margin-right: -12px; }
    .tm-social-icons > li { float:left; margin: 4px 0px 4px 4px; width: 50px; overflow: hidden; height: 50px; }
    .tm-social-icons > li:first-child + li + li { white-space: nowrap; float: right; width: auto; height: auto; margin-right: 7px; margin-top: -11px; font-size: 1.3em!important; }
}

@media only screen and (max-width: 767px) {
    .banner .uk-text-large { font-size:2.5em; }
    div.content div#PageContent.RoomOptions div#PriceSlider { margin-top: 20px; }
    .respond-767px-12 { width: 100%; clear: both; }  
    .bottom-section .uk-align-right,
    .bottom-section .uk-align-left { width: 100%; }
    .navigation .button { width: 100%; margin-bottom: 10px; }
    .align-form{ margin-top: 0; }
    
    .tm-toolbar { height: 80px; }
    .tm-navbar-fixed .tm-toolbar + .tm-navbar { top: 37px; margin-bottom: 37px; }
    .tm-navbar-center > a { color: White; }
    .uk-navbar-center > a > img { display: none; }
    .uk-offcanvas .uk-search { margin: 0!important; }
    fieldset { margin-bottom: 10px!important; }
    .uk-panel > form { margin-bottom: 0!important; }
}

@media only screen and (max-width: 950px) {
   .banner .uk-text-large { font-size:3.5em }
   .pref-info { clear:both; width: 100%; }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .banner .uk-text-large { font-size: 2.5em; line-height: 2rem; padding-top: 15px; }
    .uk-active { margin-left: 40px !important; }
    #Results { width: 96%; }
}

@media only screen and (max-width: 480px) {
    .UserInput.form-panel .mobile-align { width: 80%; }
    .banner .uk-text-large { font-size:1.5rem; padding-top: 15px; }
    #PageContent .Login legend span, 
    .form-panel span { font-size: 1rem;  }
    .ui-selectmenu { left: 0; }
    ol.LabelList li span,
    .content-wrapper ol li span { width: 50%;  }
    .user-summary ul li span:first-child,
    ul.Clearfix li span:first-child { width: 40%;  }
    .user-summary ul li span:last-child,
    ul.Clearfix li span:last-child { width: 60%;  }

    .tm-toolbar .uk-panel > a:first-child { display: block; height: 116px; }
    .tm-toolbar .uk-panel > a:first-child img { width: 47%; }
    .tm-social-icons > li:first-child + li + li { font-size: 1.1em!important; font-weight: bold; }

    .heading { font-size: 2.5em; margin-top: 34px; }
    h2 { font-size: 23px; }

    .bottom-margin { margin-bottom: 0px !important; }

    .uk-container { padding: 0 26px; }

    .content { margin-top: 0px !important; }

    .tm-block-bottom-d.tm-block-large-padding { margin-top: 20px; }
}

@media only screen and (max-width: 414px) {
    .heading { font-size: 1.5em; }
    .uk-container { padding: 0 75px; }
    h2 { font-size: 17px; }

    #PageContent .Login legend.title, .bottom-section {
        display: inline-block;
        background-color: #f89e54;
        color: #fff;
        height: 36px;
    }

    .bottom-section input {
        -webkit-appearance: none;
        margin-top: -1px;
        border-radius: 0px;
    }

    .accordion-action input {
        -webkit-appearance: none;
        background-color: black;
        border-radius: 0px;
    }

    #Results { width: 89%; }
}

@media only screen and (max-width: 400px) {
    .tm-social-icons > li:first-child + li + li { display: none; }
    .tm-navbar-fixed .tm-toolbar + .tm-navbar { top: 10px; margin-bottom: 10px;  }
}

@media only screen and (max-width: 375px) {
    .heading {font-size: 1em; margin-top: 34px; }
    .bottom-margin { margin-bottom: 0px !important; }
    .roomadvert { width: 92%; }
    .content { margin-top: 0px !important; }
    .bottom-section .uk-align-right { margin-bottom: 6px !important; }
    h2 { font-size: 14px; }
    .uk-container { padding: 0 68px; }

    #PageContent .Login legend.title, .bottom-section {
        display: inline-block;
        background-color: #f89e54;
        color: #fff;
        height: 36px;
    }

    .bottom-section input {
        -webkit-appearance: none;
        margin-top: -1px;
        border-radius: 0px;
    }

    .accordion-action input {
        -webkit-appearance: none;
        background-color: black;
        border-radius: 0px;
    }
    
    #Results { width: 97%; }
}

.sticky { width: 267px; }
.Iamsticky { width: 267px; }
@media only screen and (max-width: 960px) {
    .sticky,
    .top { width: 100%; }
    .Iamsticky,
    .bottom  { width: 27%; }
 
}
@media only screen and (max-width: 960px) {
    .Iamsticky,
    .bottom { width: 27%;  }
}
.UserInput .formNote-wrapper .NewPassword { margin:0; }
#PageContent .UserInput .formNote-wrapper p.formNote { color:#8A8A8A; margin-bottom:1em; }
#PageContent p.formNote { margin-bottom:0; color:#a7a9ac; font-weight:normal; font-size:1em; line-height:1.2; margin-top:.5em; }

/*180693 reduce footer height */
.tm-block-bottom-d.tm-block-large-padding { padding: 0 0 30px!important; }

.PreferenceDropDown {
    width: 50px !important;
}

#ctl00_BodyContent_RegularExpressionValidator1,
#ctl00_BodyContent_RegularExpressionValidator2 { font-size: 14px; }

.regbox { margin-top: 0 !important; }
#ctl00_BodyContent_KX_BC_RXA_RVDOREGISTER[disabled=disabled] { pointer-events: none; }

/*Arrival Slots*/
#Kx .month.disabled {
    color: indianred;
    opacity: .5;
}

#Kx .disabled.day.disabled {
    color: indianred;
    opacity: .5;
}

#Kx .datepicker-inline{
    padding: 10px;
    border: solid 1px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.datepicker.datepicker-inline {
    margin: 0 auto;
    font-size: large;
}
    

#PageContent .datepicker table tr td.disabled {
    color: #ddd;
}

#PageContent .datepicker table tr td.disabled:hover {
        color: #ddd;
}

#Kx #timeslots{
    display:none;
    vertical-align: middle;
}

#Kx #chosenSlot {
    margin-top: 20px;
}

#Kx .datepicker-title {
    color: #31708f;
}

#Kx .datepicker-inline {
    width: 100%;
    margin: 0 auto;
    font-size: large;
}

#Kx .datepicker table {
    width: 100%;
}
